"name": "Insight-Dev-Pipeline",
"object_id": "an-object-id"

"name": "Insight-QA-Pipeline",
"object_id": "an-object-id"

"name": "insight-kv-webapp-admin",
"object_id": "an-object-id"

"name": "AZ_Insight_Contributor",
"object_id": "an-object-id"
